*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'THICCCBOI', sans-serif;
}
#monogram{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container{
 width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.container .containerTop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 40px;
    margin: 70px 40px;
}
.container .containerTop .vegas{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    height: 50px;
    gap: 25px;

   
}
.container .containerTop .vegas p{
 
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70%;
    height: 50px;
   
   

}
.container .vegas h1{

    color: rgb(52, 63, 82);
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    
}
.container .vegas h2{
    color:   rgb(79, 83, 90);
    font-weight:700;
    font-size:20px ;
    line-height: 31px;
    width: 100%;
  
}
.container .vegas h2 span {
    color: black;
    font-weight: bold;
}
.container .vegas p{
    color: rgb(79, 83, 90);
    font-weight: 500;
    font-size: 17px ;
    line-height: 29px;
   
}
.container .vegas .brochure button{
    padding: 10px 0;
    width: 50%;
    background-color: #252D6C;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px ;
    line-height: 29px;
    border:none ;
    color:  rgb(255, 255, 255);
}
.container .vegas .brochure p{
    width: 55%;
    font-weight: 500;
    font-size: 17px ;
    line-height: 29px;
    color: rgb(34, 13, 78);
    border-bottom: 1px solid  black;
     /* padding-bottom: 10px;  */
    
    
}
.container .vegas .brochure {
    display:flex ;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    gap: 40px;
    
}
.container .containerTop .photo{
    width: 80%;
    height: 450px;
    display: flex;
}
#customers{
width: 100%;
display:flex ;
align-items: center;
justify-content: center;
min-height: 400px;
}
.globally{
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 85%;
    flex-direction: column;
    gap: 40px;
}
.globally h1{
    font-weight: 700;
    font-size: 40px;
    line-height:54px;
    color:  rgb(52, 63, 82);
}
.globally .image{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.globally .image img{
    width: 8%;
}
#api{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.path{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 80%;
    gap: 15px;
}
.path h6{
   font-weight: 500;
   font-size: 15px;
   line-height: 20px;
   color:  rgb(52, 63, 82);
}
.path h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color:  rgb(52, 63, 82);
}
.path p{
    font-weight: 100;
    font-size: 17px;
    line-height: 29px;
    color: rgb(33, 38, 48);
}
#stage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    padding: 40px;
    margin: 40px;
}
.stages{
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 40px;
}
.stages .card{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.stages .card .cardHeaderFirst{
    background-color: #FF6666;
   font-weight: 80% ;
   height: 80px;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.stages .card .cardHeaderFirst h4{
color: white;
font-weight: 700;
line-height: 25px;
font-size: 21px;
}
.stages .card .cardHeaderSecond{
    background-color: #36BDC1;
   font-weight: 80% ;
   height: 80px;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.stages .card .cardHeaderSecond h4{
    color: white;
    font-weight: 700;
    line-height: 25px;
    font-size: 21px;
    }

.stages .card .cardHeaderThird{
background-color: #E99C2A;
font-weight: 80% ;
   height: 80px;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.stages .card .cardHeaderThird h4{
    color: white;
    font-weight: 700;
    line-height: 25px;
    font-size: 21px;
    }

.stages .card .cardHeaderFourth{
background-color: #642FC5;
font-weight: 80%;
   height: 80px;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.stages .card .cardHeaderFourth h4{
    color: white;
    font-weight: 700;
    line-height: 25px;
    font-size: 21px;
    }

.stages .card .cardHeaderFifth{
background-color: #8EC23F;
   font-weight: 80% ;
   height: 80px;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.stages .card .cardHeaderFifth h4{
    color: white;
    font-weight: 700;
    line-height: 25px;
    font-size: 21px;
    }




.stages .card  ul li a{
    color: rgb(79, 83, 90);
    font-weight: 100;
    line-height: 42px;
    font-size: 17px;
    text-decoration: none;
}
.stages .card  ul li{
    color:rgb(79, 83, 90); 
}